/*
    Author: Krisna Gusti
*/

body, html{
    height: 100%;
    margin: 0;
    background-color: rgb(100, 200, 255);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    width: 10;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: maroon;
}

h2{
    margin-top: 0px;
    color: maroon;
}

.sidenav{
    position: fixed;
    background-color: rgb(94, 89, 89);
    height: 100%;
    width: 120px;
    padding-top: 2em;
}

.sidenav a{
    color: white;
    display: block;
    padding: 5px;
    text-align: center;
}

.sidenav p{
    text-align: center;
    font-size: 1.5em;
    color:white;
}

#bg{
    margin-left: 120px;
    margin-bottom: 250px;
}

.panel{
    width: 40%;
    height: auto;
    margin: auto;
    margin-bottom: 3em;
    padding: 0.5em;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
}

.panel p{
    margin: 0em;
    margin-top: 1em;
}

#find-button{
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 5px;
    font-size: 24px;
}

#species-information{
    text-align: right;
    margin: 0 auto;

}

#species-information td{
    padding-left: 2em;
}

#image-container{
    width: 60%;
}

#about p{
    text-align: justify;
}


#map{
    position: relative;
    width: 650px;
    height: 400px;
}